/* starter code provided by Xandromus and team with the UCSD Coding Bootcamp. */
:root {
    /* Tokyo Night Light/Storm color palettes by enkia (https://github.com/enkia/tokyo-night-vscode-theme) */
    --light-base: #d5d6db;
    --light-text: #343b58;
    --light-colbgd: #cfc9c2;
    --light-colfgd: #5a4a78;
    --light-border: #9699a3;

    --storm-base: #24283b;
    --storm-text: #a9b1d6;
    --storm-colbgd: #414868; 
    --storm-colfgd: #7aa2f7;
    --storm-border: #565f89;

    --tokyo-toggle: #0f4b6e;
    --light-toggle: #cfc9c2; 
    --storm-toggle: #565a6e;

    /* future and present themes sourced from Microsoft Excel cell styles*/
    /* faded grey them for past obtained myself */
    --future-green: #006100;
    --future-green-bgd: #c6efce;
    --present-red: #9c0006;
    --present-red-bgd: #ffc7ce;
    --past-faded: #73747a;
    --past-faded-bgd: #aaacaf;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 2.0rem;
}

div {
    font-size: 1.5rem;
}

h1, h2, h3, h4, p {
    line-height: 1.0; 
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 2rem;
}

textarea {
    background: transparent;
    border-top: 2px;
    font-size: 1.6rem;
    resize: none;
    padding: 10px;
}

.description {
    white-space: pre-wrap;
}

.hour {
    font-size: 1.75rem;
}

.time-block {
    border-radius: 15px;
}

/* rendering textareas based on past, present, and future criteria */
.past textarea {
    background-color: #aaacaf;
    color: #73747a;
}

.present textarea {
    background-color: #ffc7ce;    
    color: #9c0006;
}

.future textarea {
    background-color: #c6efce;
    color: #006100;
}

.saveBtn {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 25px;
}

.saveBtn i:hover {
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

/* 
=============
SWITCH BUTTON

adapted from:
    UCSD Coding Bootcamp (https://git.bootcampcontent.com/University-of-California---San-Diego/UCSD-VIRT-FSF-PT-09-2023-U-LOLC/-/blob/d5e6546770e3a300de6659bbe57c3cc0da5bb293/04-Web-APIs/01-Activities/11-Ins_Event-Listener/assets/css/style.css)
    W3Schools (https://www.w3schools.com/howto/howto_css_switch.asp)
=============
*/

/* switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
}

/* disable default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* toggle switch */
.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-toggle); /* light mode toggled ON */
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: var(--tokyo-toggle); /* toggle switch button */
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle {
    background-color: var(--storm-toggle); /* dark mode toggled ON */
}

input:focus + .toggle {
    box-shadow: #0f0f14;
}

input:checked + .toggle:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
}

/* style round toggle switch */
.toggle.round {
    border-radius: 26px;
}

.toggle.round:before {
    border-radius: 50%;
}
 
/* 
=================
GRID & GRID ITEMS
=================
*/

.header-grid {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 120px 60px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.grid-item1 {
    place-self: center start;
}

.grid-item2 {
    font-family: 'Raleway Semibold', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    place-self: center end;
}

.grid-item3 {
    place-self: center end;
}

.grid-item4 {
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 300;
    grid-row: 2 / span 1;
    place-self: start start;
    row-gap: 10px;
}

.grid-item5 {
    grid-row: 3 / span 1;
    place-self: end start;
}

.grid-item5, p {
    font-size: 3.5rem;
    font-weight: 400;
}

.grid-item6 {
    grid-area: 4 / 1 / 4 / 4;
    place-self: start center;
}

.grid-item6, p {
    font-size: 3rem;
    font-weight: 400;
}

/* 
===================
LIGHT & DARK THEMES 
===================
*/
 
/* LIGHT MODE */
.light {
    background-color: var(--light-base);
}

.light body {
    background-color: var(--light-base);
    color: var(--light-text);
}

.light div h1 h2 h3 p {
    color: var(--light-text);
}

.light .grid-item1 .grid-item4 .grid-item5 .grid-item6 {
    color: var(--light-text);
}

.light .grid-item2 {
    color: #5a4a78;
}

.light .grid-item4 {
    color: #8c4351;
}

.light .hour {
    background-color: var(--light-colbgd);
    color: var(--light-colfgd);
    border-top: 2px dashed var(--light-border);
}

.light .row {
    border: 2px var(--light-border);
}

.light .saveBtn {
    background-color: var(--light-colbgd);
    color: var(--light-colfgd);
    border-top: 2px var(--light-border);
}

.light textarea {
    border-top: 2px var(--light-border);
}

/* DARK MODE */
.dark {
    background-color: var(--storm-base);
    color: var(--storm-text);
}

.dark body {
    background-color: var(--storm-base);
    color: var(--storm-text);
}

.dark div h1 h2 h3 p {
    color: var(--storm-text);
}

.dark .grid-item1 .grid-item4 .grid-item5 .grid-item6 {
    color: var(--storm-text);
}

.dark .grid-item2 {
    color: #bb9af7;
}

.dark .grid-item4 {
    color: #f7768e;
}

.dark .hour {
    background-color: var(--storm-colbgd);
    color: var(--storm-colfgd);
    border-top: 2px dashed var(--storm-border);
}

.dark .row {
    border: 2px var(--storm-border);
}

.dark .saveBtn {
    background-color: var(--storm-colbgd);
    color: var(--storm-colfgd);
    border-top: 2px var(--storm-border);
}

.dark textarea {
    border-top: 2px var(--storm-border);
}